#san-container {
  padding: 3rem 0;
  .container {
    padding: 2rem;
  }
  .san-display {
    padding: 1rem;
    background: #fff;
    .display-header {
      position: relative;
      padding-bottom: 1rem;
      span.glyphicon {
        font-size: 3rem;
        position: absolute;
        vertical-align: center;
        cursor: pointer;
        transition: opacify, 0.5s;
      }
      span.glyphicon:hover {
        opacity: 0.5;
      }
      span.glyphicon:nth-child(1) {
        left: 1rem;
      }
      span.glyphicon:nth-child(2) {
        left: 5rem;
      }
      span.glyphicon:nth-child(3) {
        left: 9rem;
      }
    }
    .bref-introduction {
      text-align: center;
      font-family: 'Microsoft YaHei', sans-serif;
      height: 4rem;
      padding-top: 1rem;
      font-size: 3rem;
      //font-weight: bold;
      line-height: 4rem;
      span {
        font-size: 2rem;
        font-weight: normal;
      }
    }
    .info-introduction {
      p {
        padding: 0 2rem;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
      }
      .span-romance {
        color: #00f;
      }
      .span-history {
        color: #cd5c5c;
      }
    }

    .display-img {
      width: 240px;
      height: 240px;
      margin: 0 auto;
    }
  }
}

.log_form {
  display: none;
  position: fixed;
  top: 150px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  background: #fff;
  border: none;
  z-index: 10;
  text-align: center;
  .form-group {
    //padding: 0.5rem 0;
    text-align: left;
    position: relative;
    input {
      display: block;
      width: 80%;
      outline: none;
      border: none;
      background-color: transparent;
      box-shadow: none;
      border-bottom: 2px solid #000;
      border-radius: 0;
      &:focus {
        animation: log 1s ease-in-out forwards;
      }
      @keyframes log {
        0% {
          width: 80%;
          padding: 0
        }
        50% {
          width: 100%;
          padding: 0
        }
        100% {
          width: 100%;
          padding: 5px 5px 5px 0;
          border-bottom: 4px solid #337ab7
        }
      }
    }
    .glyphicon {
      display: none;
      position: absolute;
      top: 30px;
      right: 0;
      margin-top: 1rem;
    }
    .glyphicon-remove {
      color: red;
    }
  }

}

.test-red {
  color: red;
}

.test-blue {
  color: blue;
}
