#san-container {
  padding: 3rem 0;
  .container {
    padding: 2rem;
  }
  .san-display {
    padding: 1rem;
    background: #fff;
    .display-header {
      position: relative;
      padding-bottom: 1rem;
      span.glyphicon {
        font-size: 3rem;
        position: absolute;
        vertical-align: center;
        cursor: pointer;
        transition: opacify, 0.5s;
      }
      span.glyphicon:hover {
        opacity: 0.5;
      }
      span.glyphicon:nth-child(1) {
        left: 1rem;
      }
      span.glyphicon:nth-child(2) {
        left: 5rem;
      }
      span.glyphicon:nth-child(3) {
        left: 9rem;
      }
    }
    .bref-introduction {
      text-align: center;
      font-family: 'Microsoft YaHei', sans-serif;
      height: 4rem;
      padding-top: 1rem;
      font-size: 3rem;
      //font-weight: bold;
      line-height: 4rem;
      span {
        font-size: 2rem;
        font-weight: normal;
      }
    }
    .info-introduction {
      p {
        padding: 0 2rem;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
      }
      .span-romance {
        color: #00f;
      }
      .span-history {
        color: #cd5c5c;
      }
    }

    .display-img {
      width: 240px;
      height: 240px;
      margin: 0 auto;
      @media screen and (max-width: 768px){
        margin-top: 4rem;
      }
    }
  }
}

#registed{
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  &:hover{
    color: #337ab7;
  }
}

.log-form {
  display: none;
  position: fixed;
  top: 10rem;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  background: #fff;
  border: none;
  z-index: 10;
  text-align: center;
  .ng-hide-remove{
    color: red;
  }
  .panel-body{
    //padding: 3rem 1.5rem;
    .form-group {
      position: relative;
      font-size: 1.5rem;
      text-align: left;
      margin-bottom: 2rem;
      input.input1 {
        display: block;
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        box-shadow: none;
        border-bottom: 2px solid #000;
        border-radius: 0;
        &:focus {
          animation: inputChange 1s ease-in-out forwards;
        }
        @keyframes inputChange {
          0% {
            width: 100%;
            border-bottom: 4px solid #337ab7;
          }
          50% {
            padding: 0.5rem 0.5rem 0.5rem 0;
          }
          100% {
            width: 100%;
            padding: 0.5rem 0.5rem 0.5rem 0;
            border-bottom: 4px solid #337ab7;
          }
        }
      }

      input.checkbox{
        width: auto;
        height: auto;
        display: inline;
      }
      .glyphicon {
        //display: none;
        position: absolute;
        //top: 30px;
        right: 0;
      }
      .glyphicon-remove {
        color: red;
      }
    }
  }
  .shut-login{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    &:hover{
      color: #000;
    }
  }
}
