<form role="form" class="log_form">
    <div class="form-group">
        <label for="username">用户名:</label>
        <input type="text" class="form-control-blog" id="username">
        <span class="glyphicon glyphicon-ok"></span>
    </div>
    <div class="form-group">
        <label for="pwd">密码:</label>
        <input type="password" class="form-control-blog" id="pwd">
        <span class="glyphicon glyphicon-ok"></span>
    </div>
    <button type="button" class="btn btn-default" id="log_in">登录</button>
    <button type="button" class="btn btn-default" id="register">注册</button>
</form>