---
layout: page
---
<div id="san-container" ng-controller="sanCtrl">
    <div class="container">
        <div class="grid" ng-hide="toggle_img">
            <div class="grid-sizer"></div>
            <div class="grid-item" ng-click="getInfo()">
                <a href="#0"><img src="/dist/img/san/cao.png" alt="{( item.name )}"/></a>
            </div>
            <div class="grid-item" ng-click="getInfo()">
                <a href="#1"><img src="/dist/img/san/liu.png" alt="{( item.name )}"/></a>
            </div>
            <div class="grid-item" ng-click="getInfo()">
                <a href="#2"><img src="/dist/img/san/guan.png" alt="{( item.name )}"/></a>
            </div>
            <div class="grid-item" ng-click="getInfo()">
                <a href="#3"><img src="/dist/img/san/lv.png" alt="{( item.name )}"/></a>
            </div>
            <div class="grid-item" ng-click="getInfo()">
                <a href="#4"><img src="/dist/img/san/xu.png" alt="{( item.name )}"/></a>
            </div>
            <div class="grid-item" ng-click="getInfo()">
                <a href="#5"><img src="/dist/img/san/zhanghe.png" alt="{( item.name )}"/></a>
            </div>
            <div class="grid-item" ng-click="getInfo()">
                <a href="#6"><img src="/dist/img/san/zhangliao.png" alt="{( item.name )}"/></a>
            </div>
            <div class="grid-item" ng-click="getInfo()">
                <a href="#7"><img src="/dist/img/san/zhao.png" alt="{( item.name )}"/></a>
            </div>
        </div>
        <s11></s11>
    </div>
</div>
