<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog of Mr.fu</title>
    <link rel="icon" href="/dist/img/favicon.ico"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/dist/css/style.css"/>
    <link rel="stylesheet" href="/dist/css/san.css"/>
</head>

<body>
{% include form.html %}
{% include header.html %}
<div class="blog-body">
    <div class="container">
        {{ content }}
    </div>
</div>

{% include footer.html %}
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/dist/js/blog.js"></script>
</body>
</html>