<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog of Mr.fu</title>
    <link rel="icon" href="/dist/img/favicon.ico"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/blog.min.css"/>
</head>
<body ng-app="MyBlog">
{% include header.html %}
<div class="page-container bg-con">
    {{ content }}
</div>
{% include footer.html %}
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.5.8/angular-animate.min.js"></script>
<script src="//unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src="//npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="/dist/js/blog.min.js"></script>
</body>
</html>